@font-face {
  font-family: "Work Sans Med";
  src: url("/fonts/WorkSans-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Work Sans Reg";
  src: url("/fonts/WorkSans-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Abel";
  src: url("/fonts/Abel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Work Sans Light";
  src: url("/fonts/WorkSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container-fluid {
  max-width: 1980px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden; }

.row {
  margin-right: 0px !important;
  margin-left: 0px !important; }

body {
  font-family: Work Sans Med, Trebuchet MS, Arial, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 60px; }

/* navbar */
.navbar {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  background: #262935; }

.navbar-form {
  padding-right: 150px; }

.nav-links {
  font-family: 'Work Sans Reg';
  cursor: pointer; }

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0; }

.navbar-toggle {
  border: none;
  background: transparent !important; }

.navbar-toggle:hover {
  background: transparent !important; }

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
  background-color: #fff; }

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.navbar-toggle .middle-bar {
  opacity: 0; }

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggle.collapsed .middle-bar {
  opacity: 1; }

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0); }

.nav li {
  padding-right: 20px;
  margin-top: 2.75px; }

.nav-links {
  font-family: 'Work Sans Reg';
  cursor: pointer; }

.nav li:last-child {
  padding-right: 35px; }

.nav > li > a:hover {
  background-color: transparent; }

a {
  color: #fff;
  text-decoration: none !important; }

a:hover {
  color: #fff !important; }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 500px; }

.navbar .navbar-collapse {
  text-align: center; }

@media screen and (max-width: 992px) {
  .navbar-form {
    padding-right: 15px; }
  .btn-sub {
    padding: 1.3rem !important; } }

@media screen and (max-width: 767px) {
  .input-sub {
    float: left;
    width: 60% !important; }
  .btn-sub {
    width: 40% !important;
    margin-top: -6px; } }

/* Buttons */
.btn-blue {
  display: inline-block !important;
  padding: 1.3rem 4rem 1.3rem 4rem;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2.1875rem;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #4a90e2;
  border: 0.0625rem solid #4a90e2; }

.btn-blue-nofill {
  display: inline-block !important;
  padding: 1.3rem 4rem 1.3rem 4rem;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2.1875rem;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #4a90e230;
  margin-right: 35px; }

.btn-blue:hover {
  background-color: #1f69c1 !important;
  border: 0.0625rem solid #1f69c1 !important; }

.input-sub {
  border: none;
  padding: 0 25px;
  color: #414351;
  font-size: 15px;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  height: 48px;
  display: inline-block; }

.btn-sub {
  margin-left: -5px;
  display: inline-block;
  border-radius: 0; }

#hero {
  background-color: #262935;
  /*background-image: url("/images/csgo_wallpaper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;*/ }

.hero_left {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 600px;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.hero_right {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 600px;
  width: 100%;
  height: 100%;
  background-color: transparent; }

h1 {
  font-family: 'Work Sans Light', helvetica, arial, sans-serif;
  color: #fff;
  margin-bottom: 15px;
  font-size: 48px;
  line-height: 57px; }

h2 {
  font-family: 'Work Sans Light', helvetica, arial, sans-serif;
  color: #fff;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 300;
  line-height: 33px; }

hr {
  width: 200px;
  margin-left: 0; }

/* Promotion video */
.vid {
  background-color: #474b57;
  margin: auto;
  margin-top: 200px;
  height: 500px; }

.fa-play-circle {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 58px !important;
  cursor: pointer; }

.playbox {
  cursor: pointer;
  margin-left: 170px;
  padding-top: 200px !important; }

.popup__overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 41, 53, 0.95);
  text-align: center;
  z-index: 100; }

.popup__overlay:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: ""; }

.popup {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 480px;
  color: white;
  vertical-align: middle; }

.popup-form__row {
  margin: 1em 0; }

.popup__close {
  display: block;
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-decoration: none; }

iframe {
  width: 100%;
  height: 100%; }

/***************/
/*** Features ***/
#features {
  text-align: center; }

.fa-code-branch {
  margin-top: 30px;
  font-size: 38px;
  display: block;
  color: #4a90e2; }

.fa-chalkboard-teacher {
  margin-top: 30px;
  font-size: 38px;
  display: block;
  color: #1f69c1; }

.fa-user-cog {
  margin-top: 30px;
  font-size: 38px;
  display: block;
  color: #0d2d53; }

.feature {
  padding-left: 100px;
  padding-right: 100px; }

@media screen and (max-width: 992px) {
  .feature {
    padding: 0;
    margin-bottom: 80px; } }

/***************/
/*** Concept ***/
#concept {
  background-image: linear-gradient(135deg, #262935, #515770); }

.btn_concept {
  float: right;
  text-decoration: none !important; }

.concept_right {
  z-index: 999;
  margin: auto;
  margin-top: 200px;
  height: 500px;
  max-height: 500px;
  max-width: 600px;
  width: 600px;
  background-image: url("/images/gp-brand.png");
  background-repeat: no-repeat;
  background-size: contain; }

/***************/
/*** Feedback ***/
#feedback {
  height: 840px;
  background: linear-gradient(#2f303a, #262935); }

.feedback-container {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 600px;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.feedback_textarea {
  width: 100%;
  border: none;
  padding: 25px 25px;
  color: #414351;
  font-size: 15px;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: sans-serif;
  font-size: 100%;
  height: 300px;
  display: inline-block;
  float: left;
  z-index: 99;
  resize: none; }

.input-feedback {
  border: none;
  padding: 0 25px;
  color: #414351;
  font-size: 15px;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  height: 48px;
  display: inline-block;
  margin-bottom: 10px;
  width: 49%;
  float: left; }

@media screen and (max-width: 992px) {
  #form-feedback > input:first-of-type {
    margin-right: 0; }
  .input-feedback {
    width: 100%; } }

#form-feedback > input:first-of-type {
  margin-right: 2%; }

.btn-feedback {
  display: inline-block;
  float: right;
  margin-top: 10px;
  border-radius: 0;
  z-index: 99; }

.first-gradient {
  width: 100%;
  height: 300px;
  position: absolute;
  transform: rotate(-180deg); }

.section-gradient {
  width: 100%;
  height: 300px;
  position: absolute;
  margin-top: 530px; }

/***************/
