/* sidebar */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #262935;
    z-index: 999999;
}

    #wrapper.toggled {
        padding-left: 285px
    }

#sidebar-wrapper {
    top: 0px;
    bottom: 100px;
    /*z-index: 1000;*/
    left: 285px;
    width: 7px;
    height: 100%;
    margin-left: -285px;
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }

#wrapper.toggled #sidebar-wrapper {
    width: 285px;
    background-image: linear-gradient(135deg,#262935,#515770);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


#wrapper.toggled #page-content-wrapper {
    /*position: absolute;*/
    margin-right: -285px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 70px;
    width: 285px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        position: relative;
        line-height: 20px;
        display: inline-block;
        width: 100%;
    }

        .sidebar-nav li:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 3px;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }

        .sidebar-nav li:first-child a {
            color: #fff;
            width: 285px;
        }

        .sidebar-nav li:nth-child(2):before {
            background-color: #ec1b5a;
        }

        .sidebar-nav li:nth-child(3):before {
            background-color: #79aefe;
        }

        .sidebar-nav li:nth-child(4):before {
            background-color: #314190;
        }

        .sidebar-nav li:nth-child(5):before {
            background-color: #279636;
        }

        .sidebar-nav li:nth-child(6):before {
            background-color: #7d5d81;
        }

        .sidebar-nav li:nth-child(7):before {
            background-color: #ead24c;
        }

        .sidebar-nav li:nth-child(8):before {
            background-color: #2d2366;
        }

        .sidebar-nav li:nth-child(9):before {
            background-color: #35acdf;
        }

        .sidebar-nav li:hover:before,
        .sidebar-nav li.open:hover:before {
            width: 100%;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }

        .sidebar-nav li a {
            display: block;
            color: #ddd;
            text-decoration: none;
            padding: 10px 15px 10px 30px;
        }

            .sidebar-nav li a:hover,
            .sidebar-nav li a:active,
            .sidebar-nav li a:focus,
            .sidebar-nav li.open a:hover,
            .sidebar-nav li.open a:active,
            .sidebar-nav li.open a:focus {
                color: #fff;
                text-decoration: none;
                background-color: transparent;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 20px;
        line-height: 44px;
    }

    .sidebar-nav .dropdown-menu {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        background-color: #222;
        box-shadow: none;
    }

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.navbar-brand {
    display: none;
}

.hamburger {
    position: fixed;
    top: 15px;
    z-index: 999999;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

    .hamburger:hover,
    .hamburger:focus,
    .hamburger:active {
        outline: none;
    }

    .hamburger.is-closed:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom,
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom {
        background-color: white;
    }

    .hamburger.is-closed .hamb-top {
        top: 5px;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed .hamb-middle {
        top: 50%;
        margin-top: -2px;
    }

    .hamburger.is-closed .hamb-bottom {
        bottom: 5px;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-top {
        top: 0;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-bottom {
        bottom: 0;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        background-color: white;
    }

    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-bottom {
        top: 50%;
        margin-top: -2px;
    }

    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamburger.is-open .hamb-middle {
        display: none;
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamburger.is-open:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-open:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

.content-wrapper {
    top: 150px;
    background-color: #262935;
    min-height: 1000px;
    position: relative;
    width: 100%;
}

.content-wrapper .title {
    margin-bottom: 50px;
}

    .content-wrapper hr {
        width: 100%;
        margin-bottom: 50px;
    }

td {
    color: white;
    text-align: center;
}

.active td {
    color: #262935;
}

.enroll {
    margin-top: 50px;
}

    .enroll button {
        min-width: 200px;
        border-radius: 0;
    }

.s-icon {
    padding-right: 15px;
}

.course-block {
    margin-bottom: 400px;
}

.course-block h3 {
    text-align: center;
    font-size: 32px;
}

.img-div {
    width: 100%;
    margin: 50px 0 50px 0;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.case-title {
    padding: 30px 0 30px 0;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
}


/* quiz  */

.question__list {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
}

.question-wrapper {
    margin-bottom: 60px;
    display: block;
    position: relative;
}

.question__badge {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -7px;
    padding: 5px 10px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #fff;
    color: #51526f;
    line-height: 1;
    outline: 0;
    border-top: 1px solid #e3e6f0;
    z-index: 1;
}

.question {
    position: relative;
    background: #fff;
    padding: 8% 5%;
    border-radius: 12px;
    box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.1), 0 0 0 1px #f0f2f7;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 20px;
    overflow: hidden;
}

.question__heading h6 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: bolder;
    color: #51526f;
    margin-top: 0;
    line-height: 1.3;
    font-size: 22px;
}

.question__button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 180px;
    background: #fff;
    border: none;
    color: #8385aa;
    border: 1px solid #c8cbf2;
    font-weight: 700;
    font-size: 17px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background .12s,color .12s,border-color .12s;
    outline: 0;
    cursor: pointer;
}

    .question__button:hover {
        background-color: #51526f;
        color: white;
    }

.question__button span {
    padding-right: 5px;
}

.hidden {
    display: none;
}

.question__tag {
    position: absolute;
    top: 0;
    right: -65px;
    transform: rotate(45deg);
    color: #fff;
    width: 125px;
    height: 40px;
    background: #333;
}


.question__tag.is-hard {
    background: linear-gradient(130deg,#f53d02,#ff7d55);
}

    .question__tag.is-easy {
        background: linear-gradient(130deg,#56a15c,#a5d275);
    }


.embed-responsive {
    margin-top: 150px;
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

    .embed-responsive .embed-responsive-item,
    .embed-responsive iframe,
    .embed-responsive embed,
    .embed-responsive object,
    .embed-responsive video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.exercise-wrapper {
    margin-bottom: 60px;
    display: block;
    position: relative;
}