
<link rel="stylesheet" href="~/css/sidebar.css" />


<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Communication
                </a>
            </li>
            <li>

                <a href="#">
                    <i class="fas fa-info-circle"></i>
                Course Info</a>
                <!-- About Course & Course data-->

            </li>
            <li>
                <a href="#">Course Introduction</a>
                <!-- Course Intro & Learning goals-->
            </li>
            <li>
                <a href="#">Real life perspective</a>
                <!-- Video by business person-->

            </li>
            <li>
                <a href="#">A Communication Case</a>
            </li>
            <li>
                <a href="#">Quiz</a>
            </li>
            <li>
                <a href="#">Pro CS:GO content</a>
            </li>
            <li>
                <a href="#">Exercises & Summary</a>
            </li>
            @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>*@

   
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
            <button type="button" class="hamburger is-open" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="content-wrapper">
                    <h3 class="title">Communication: The key to success</h3>
                    <div class="course-info">
                        <p class="block-txt"><strong>About this course</strong></p>
                        <p class="block-txt">
                            This is a survey of modern history from a global perspective. Part One begins with the political and economic revolutions of the late 1700s
                            and tracks the transformation of the world during the 1800s.  Part One concludes as these bewildering changes seem to be running beyond the capacity
                            of older institutions to handle them.  Throughout the course we try to grasp what is happening and ask:  Why?  And the answers often turn on very human
                            choices.
                        </p>
                    </div>
                    <hr />

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Level</td>
                                <td>Beginner/Intermediate</td>

                            </tr>
                            <tr class="active">
                                <td>Content</td>
                                <td>56min +</td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td>English</td>
                            </tr>
                            <tr class="active">
                                <td>21st Century Skill</td>
                                <td>Communication</td>
                            </tr>
                            <tr>
                                <td>Producers</td>
                                <td>Anne Fiskali, Frederik 'Roy', GamerPilot</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="enroll">
                        <button class="btn-blue">Start</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->