
<link rel="stylesheet" href="~/css/sidebar.css" />


<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#info">
                    Communication
                </a>
            </li>
            <li>

                <a href="#info">
                    <i class="fas s-icon fa-info-circle"></i>
                    Course Info
                </a>
                <!-- About Course & Course data-->
            </li>
            <li>
                <a href="#course-intro">
                    <i class="fas s-icon fa-book"></i>
                    Course Introduction
                </a>
                <!-- Course Intro & Learning goals-->
            </li>
            <li>
                <a href="#theory">
                    <i class="fas s-icon fa-play"></i>  Real life perspective
                </a>
                <!-- Video by business person-->

            </li>
            <li>
                <a href="#case">
                    <i class="fas s-icon fa-globe"></i>
                    A Communication Case
                </a>
            </li>
            <li>
                <a href="#quiz">
                    <i class="fas s-icon fa-feather"></i>
                    Quiz
                </a>
            </li>
            <li>
                <a href="#pro-content">
                    <i class="fas s-icon fa-play"></i>
                    Pro CS:GO content
                </a>
            </li>
            <li>
                <a href="#summary">
                    <i class="fas s-icon fa-file-signature"></i>
                    Exercises & Summary
                </a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-open" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="content-wrapper">

                    <!-- Course Info-->
                    <div class="course-block" id="info">

                        <h3 class="title">Communication: The key to success</h3>
                        <div class="course-info">
                            <p class="block-txt"><strong>About this course</strong></p>
                            <p class="block-txt">
                                This course will introduce you to the world of communication and provide you with some key lessons that will drastically improve the way you communicate both ingame and in real life.

                                The course includes theory, text cases, a quiz, pro CS:GO video content and exercises.

                                Throughout the course we try to grasp what is good communication and how you can transfer your knowledge between CS:GO and my real life?


                            </p>
                        </div>
                        <hr />

                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Level</td>
                                    <td>Beginner/Intermediate</td>

                                </tr>
                                <tr class="active">
                                    <td>Content</td>
                                    <td>56min +</td>
                                </tr>
                                <tr>
                                    <td>Language</td>
                                    <td>English</td>
                                </tr>
                                <tr class="active">
                                    <td>21st Century Skill</td>
                                    <td>Communication</td>
                                </tr>
                                <tr>
                                    <td>Producers</td>
                                    <td>Anne Fiskali, Frederik 'Roy', GamerPilot</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="enroll">
                            <a class="btn-blue" href="#course-intro" style="border-radius: 0">Start</a>
                        </div>

                    </div>

                    <!-- Course introduction-->
                    <div class="course-block" id="course-intro">

                        <h3 class="title">Course Introduction</h3>

                        <p class="block-txt">
                            In modern workplaces and on good CS:GO teams people are looking for graduates and players that are not only proficient in content, but also in soft skills. One of these
                            skills is communication. Communication skills can be developed through both cooperative learning and direct instruction, but highest increases are linked with cooperative settings.
                            CS:GO is a great place to do this.
                            <br /><br />
                            You can communicate for a variety of purposes and audiences and it takes great awareness to know when to do what. In this course we primarily focus on communication in a context
                            where the purpose is to convey a message in a cooperative situation where information needs to be communicated.
                            <br /><br />

                            Mastering communication takes a long time, but by being aware and applying the knowledge you learn in this course you have already taken a big step. Practicing communication in CS:GO can be discouraging at times if
                            your teammates do not put in the same effort as you - Don't worry! As long as you do your part it will be reflected in your results in the long run!
                            <br /><br />
                            When you have finished this course you will be able to:
                            <br /><br />

                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <p class="block-txt">
                                    <i class="fas s-icon fa-dot-circle"></i>
                                    Have knowledge of why communication is important
                                </p>
                            </li>
                            <li>
                                <p class="block-txt">
                                    <i class="fas s-icon fa-dot-circle"></i>
                                    Be able to differentiate good and bad communication
                                </p>

                            </li>
                            <li>
                                <p class="block-txt">
                                    <i class="fas s-icon fa-dot-circle"></i>
                                    Understand the connection between communication in real life and ingame
                                </p>
                            </li>
                            <li>
                                <p class="block-txt">
                                    <i class="fas s-icon fa-dot-circle"></i>
                                    Know concrete methods to practice your communication
                                </p>
                            </li>


                        </ul>

                    </div>

                    <!-- Real life perspective-->
                    <div class="course-block" id="theory">

                        <h3>A real life perspective - a look into communication from a psychologist</h3>


                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nZXOiv1IHNM" allowfullscreen></iframe>
                        </div>
                    </div>

                    <!-- Communication Case -->
                    <div class="course-block" id="case">

                        <h3 class="title">
                            Communication ingame & in real life situations.
                        </h3>

                        <p class="block-txt">
                            Effective communication is a vital tool for any person in the modern world. Your ability to communicate your points across can be the difference between success or failure just like it can determine the outcome of a cs:go round.
                            <br /><br />
                            Success in any conversation is likely to be achieved through both parties listening to and understanding each other. Considering circumstances surrounding your communications such as the situational and cultural context are crucial and often reveal who’s an efficient communicator and who’s not.

                        </p>

                        <div class="img-div">
                            <img src="~/images/communication_pic1.png" class="img-responsive img-center" alt="Responsive image">
                        </div>

                        <p class="block-txt">
                            Let’s take a look at some of the key communication skills that make for a solid communication toolset in the context of a cs:go game and at a workplace
                        </p>

                        <p class="case-title">
                            <strong><i class="fas s-icon fa-rocket"></i> Using positive language</strong>
                        </p>

                        <p class="block-txt">
                            You are more likely to achieve positive outcomes when you use positive, rather than negative, language.
                            This may seem like a no brainer but nevertheless countless people convey messages through anger and frustration which
                            never has the same effect. Without doubt you have experienced a boss yelling at his employee during stressed work hours
                            or a teammate being toxic while attempting to communicate. Apart from not conveying your message it may also impose several
                            negative consequences such as a lowered working morale or a hostile atmosphere under which nobody can thrive.
                            When is the last time you used negative language? What do you think led you to do that and in hindsight what
                            could you have done differently? Personal awareness plays a major role in using positive language and understanding
                            the benefits of a positive attitude will get your a long way.
                        </p>

                        <p class="case-title">
                            <strong><i class="fas s-icon fa-rocket"></i> Using ‘I’ statements</strong>
                        </p>

                        <p class="block-txt">
                            ‘I’ statements, rather than ‘you’ statements, often yield better results in verbal exchanges.
                            For example, ‘I need more information to make a decision’ sounds much better than, ‘You need to give
                            me more information before I can make a decision’. The reason the ‘I’ statements sounds better is that
                            you are saying what you need rather telling someone what they should do. Furthermore you take responsibility
                            and don’t push the conversation into a matter of fault or guilt.
                        </p>

                        <p class="case-title">
                            <strong><i class="fas s-icon fa-rocket"></i> Assertiveness versus aggression</strong>
                        </p>

                        <p class="block-txt">
                            Assertiveness (often through the use of ‘I’ statements) is stating what you plan to do. Instead of coming across as hostile,
                            you are making a statement about something you feel or perceive. Aggression is completely different and
                            is usually perceived as hostile or unfriendly behaviour. It often uses the word ‘you’. People can become
                            unhappy when you tell them what to do.  Even when talking to employees it is wise to soften language when
                            asking them to perform tasks, as they are likely to respond better to requests than orders. In a scenario
                            where you want to nade long A for example try to phrase yourself with “Hey guys let’s through nades long A”
                            rather than the more commanding “EVERYONE go nade long A!”.

                            <br /><br />
                            Consistent assertiveness shows others that you’re confident and open to suggestion,
                            but won’t be taken advantage of, leading to a mutually acceptable outcome. Mastering
                            this is another key skill where personal awareness is very important. If you are aware
                            of how others perceive you - you will guaranteed see better results.

                        </p>

                        <p class="case-title">
                            <strong><i class="fas s-icon fa-rocket"></i> Speaking style </strong>
                        </p>


                        <p class="block-txt">
                            Speaking style means the tone, pitch, accent, volume and pace of your voice. Being a skilled communicator you can adjust these based on the situation to convey your points more clearly.
                        </p>

                        <div class="img-div">
                            <img src="~/images/communication_pic2.png" class="img-responsive img-center" alt="Responsive image">
                        </div>

                        <p class="block-txt">
                            The same sentence can be conveyed, and understood, in entirely different ways
                            based on the way in which it is said. People you speak to can be motivated by a positive speaking style,
                            just as they can be put off by a negative style.

                            <br /><br />

                            You should always try to speak with a positive voice - avoid monotone responses, or talking too
                            quickly or slowly. Be as clear as possible and try to engage the listener, as this is far more likely
                            to promote the response you are after than if they leave the conversation deflated. It’s quite common to meet
                            people in matchmaking who quickly becomes discouraged after a couple rounds - maybe even close to rage quitting
                            the game. Whenever they talk or write ingame their attitude infects the entire team and not only does it make the
                            game less fun it also decreases the team’s performance and splits them instead of working as a unit. You’re 100 times
                            more likely to listen to a self-confident and inspirational player who is able to look beyond a couple of bad rounds and
                            see things in a bigger picture.
                        </p>

                        <p class="case-title">
                            <strong><i class="fas s-icon fa-rocket"></i> Summary </strong>
                        </p>

                        <p class="block-txt">
                            Communication plays a major role in several aspects of our life and is the foundation of
                            all human interaction. Being a good communicator in real life will almost certainly also make you a better
                            communicator in cs:go - so acknowledging the power of communication is a fundamental step towards improving yourself.
                            The beauty of such a broad skill is that you can practice it every day in different arenas; The supermarket, the classroom,
                            on a job or ingame and mastering communication in one area will have great positive effects on others.
                        </p>

                    </div>

                    <!-- Quiz -->
                    <div class="course-block" id="quiz">

                        <h3 class="title">
                            Quiz
                        </h3>

                        <ul class="question__list">
                            <li class="question-wrapper">
                                <div class="question__badge">easy</div>
                                <div class="question">
                                    <div class="question__tag is-easy"></div>
                                    <div class="question__heading">
                                        <h6>Why is it important to use a positive language?</h6>
                                    </div>
                                    <button class="question__button">
                                        <span>Show answer</span>
                                        <i class="fas fa-chevron-down"></i>

                                    </button>
                                    <div class="answer hidden">
                                        You are more likely to achieve a successful outcome by using a positive language because your message is recieved in a good manner.
                                    </div>
                                </div>
                            </li>

                            <li class="question-wrapper">
                                <div class="question__badge">easy</div>
                                <div class="question">
                                    <div class="question__tag is-easy"></div>
                                    <div class="question__heading">
                                        <h6>
                                            In which arenas can you practice your communication?
                                        </h6>
                                    </div>
                                    <button class="question__button">
                                        <span>Show answer</span>
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <div class="answer hidden">
                                        You can practice communication whenever you interact with other people, so everywhere! Being a good communicator in real life
                                        affects your ingame communication greatly!

                                    </div>
                                </div>
                            </li>

                            <li class="question-wrapper">
                                <div class="question__badge">intermediate</div>
                                <div class="question">
                                    <div class="question__tag"></div>
                                    <div class="question__heading">
                                        <h6>Why is communication important?</h6>
                                    </div>
                                    <button class="question__button">
                                        <span>Show answer</span>
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <div class="answer hidden">
                                        Clear goals require solid communication and sharing knowledge and information across your team will give everyone the best
                                        conditions to take solid decisions.

                                    </div>
                                </div>
                            </li>

                            <li class="question-wrapper">
                                <div class="question__badge">intermediate</div>
                                <div class="question">
                                    <div class="question__tag"></div>
                                    <div class="question__heading">
                                        <h6>
                                            What does speaking style mean?
                                        </h6>
                                    </div>
                                    <button class="question__button">
                                        <span>Show answer</span>
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <div class="answer hidden">
                                        Speaking style means the tone, pitch, accent, volume and pace of your voice.
                                    </div>
                                </div>
                            </li>

                            <li class="question-wrapper">
                                <div class="question__badge">hard</div>
                                <div class="question">
                                    <div class="question__tag is-hard"></div>
                                    <div class="question__heading">
                                        <h6>What is wrong with this statement: "EVERYONE go nade long A next round!"</h6>
                                    </div>
                                    <button class="question__button">
                                        <span>Show answer</span>
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <div class="answer hidden">
                                        It's a very aggressive statement that comes across as hostile and unfriendly behaviour hence people are less likely
                                        to listen to you.

                                    </div>
                                </div>
                            </li>

                            <li class="question-wrapper">
                                <div class="question__badge">hard</div>
                                <div class="question">
                                    <div class="question__tag is-hard"></div>
                                    <div class="question__heading">
                                        <h6>
                                            What does the instructor in the real life perspective video describe good communication as?
                                        </h6>
                                    </div>
                                    <button class="question__button">
                                        <span>Show answer</span>
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <div class="answer hidden">
                                        Accurate, necessary and well timed. Bad communication on the other is the exact opposite.
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <!-- Pro content -->
                    <div class="course-block" id="pro-content">

                        <h3 class="title">
                            Pro CS:GO content: Improve your ingame communication
                        </h3>

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PBKCnTvLhGs?list=LLdzyd7JddDUEroDogYEyy5Q" allowfullscreen></iframe>
                        </div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XWBUmkreUC0?list=LLdzyd7JddDUEroDogYEyy5Q" allowfullscreen></iframe>
                        </div>
                    </div>

                    <!-- Exercises Summary -->
                    <div class="course-block" id="summary">

                        <h3 class="title">
                            Exercises & Summary
                        </h3>

                        <p class="block-txt">
                            This wraps up the communication course. Remember improving your communication is a process and doesn't happen overnight. You've already taken a solid
                            step by acquiring knowledge about communication. Good communication is accurate, necessary and well-timed. Those are points you can transfer to other areas in your life such
                            as the classroom or the football field - not just when you play computer

                            <br /><br />

                            Let's take a look at some exercises you can do to practice your communication:
                        </p>

                        <ul class="question__list">
                            <li class="exercise-wrapper">
                                <div class="question__badge">Ingame</div>
                                <div class="question">
                                    <div class="question__tag"></div>
                                    <div class="question__heading">
                                        <h6>Play a game of CS:GO where you put great effort into communicating and keeping a positive atmosphere in the team.</h6>
                                    </div>
                                </div>
                            </li>

                            <li class="exercise-wrapper">
                                <div class="question__badge">Real life</div>
                                <div class="question">
                                    <div class="question__tag is-easy"></div>
                                    <div class="question__heading">
                                        <h6>Think about a topic or something that happened today and try to communicate it to a family member or friend keeping all the things you have learned in mind.</h6>
                                    </div>
                                </div>
                            </li>

                            <li class="exercise-wrapper">
                                <div class="question__badge">Real life</div>
                                <div class="question">
                                    <div class="question__tag is-easy"></div>
                                    <div class="question__heading">
                                        <h6>Try to put words on what good and bad communication is. Do you know anyone who is good at communication? Ask yourself why.</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>



                    </div>

                </div>
                </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->



@section Scripts {
    <script src="~/js/course.js"></script>
}
