<section id="hero">
    <div class="row">

        <!-- Selling points -->
        <div class="col-md-6">
            <div class="hero_left">

                <h1>GamerPilot</h1>
                <hr />
                <h2>
                    Vi lancerer snart en game-changing video-on-demand platform, der vil revolutionere undervisning i e-sport. 
                    <br />
                    <br />

                    Vi skræddersyer et læringsforløb til dig, der gør vejen til toppen let og overskuelig.
                    Vores videoer sætter fokus på udvikling af kompetencer, du også kan bruge i virkeligheden
                </h2>

                <a href="" class="btn-blue" style="float: right;">Lær mere</a>

            </div>
        </div>

        <!-- Promotion video -->
        <div class="col-md-6">
            <div class="hero_right">

                <div class="vid">

                    <div id="popup__toggle">
                        <div class="playbox">
                            <i class="fa fa-play-circle">

                            </i>

                            <h2>
                                SE TEASER VIDEO
                            </h2>
                        </div>
                        
                    </div>
                

                    <div class="popup__overlay">
                        <div class="popup" id="popupVid">
                            <a href="#" class="popup__close"><i class="fa fa-times"></i></a>
                            <iframe src="https://www.youtube.com/embed/TRGoy0XLrUA?showinfo=0&rel=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>







</section>


<section id="points">
    <div class="row">

        <div class="col-md-4">
            <i class="fa fa-file-contract"></i>

            Skræddersyet forløb
        </div>

        <div class="col-md-4">

            Produceret af specalister
        </div>

        <div class="col-md-4">
            Life skills
        </div>



    </div>


</section>