<section id="hero">
    <div class="row">

        <!-- Short introduction -->
        <div class="col-md-6">
            <div class="hero_left">

                <h1>GamerPilot</h1>
                <hr />
                <h2>
                    Vi lancerer snart en game-changing video-on-demand platform, der vil revolutionere undervisning i e-sport.
                    <br />
                    <br />

                    Vi skræddersyer et læringsforløb til dig, der gør vejen til toppen let og overskuelig.
                    Vores videoer sætter fokus på udvikling af kompetencer, du også kan bruge i virkeligheden
                </h2>

                <a href="#features" class="btn-blue" style="float: right;" id="js-scroll">Lær mere</a>

            </div>
        </div>

        <!-- Promotion video -->
        <div class="col-md-6">
            <div class="hero_right">

                <div class="vid">

                    <div id="popup__toggle">
                        <div class="playbox">
                            <i class="fa fa-play-circle">
                            </i>
                            <h2>
                                SE TEASER VIDEO
                            </h2>
                        </div>
                    </div>

                    <div class="popup__overlay">
                        <div class="popup" id="popupVid">
                            <a href="#" class="popup__close"><i class="fa fa-times"></i></a>
                            <iframe src="https://www.youtube.com/embed/h6sFG7qOd4A?showinfo=0&rel=0&enablejsapi=1" frameborder="0" allowfullscreen ></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Subscribtion only shown on mobile -->
<section class="visible-xs" id="subscribe">
    <div class="row">
        <div class="col-xs-12">
            <form asp-controller="Home" asp-action="Subscribe" method="post" class="nav navbar-form navbar-right" asp-route-returnUrl="Index">
                <div class="form-group">
                    <input type="email" name="email" class="form-control input-sub" placeholder="få tidlig adgang">
                </div>
                <button type="submit" class="btn-blue btn-sub">Kom på listen</button>
            </form>

        </div>
    </div>
</section>

<!-- Selling points -->
<section id="features">
    <div class="row" style="text-align: center;">

        <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-code-branch"></i>
                <h5>Skræddersyet forløb</h5>
                <p>
                    Vi skræddersyer et læringsforløb, der passer til dig. Derved slipper du for selv at skulle vurdere, hvad som er relevant for dig.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-user-cog"></i>
                <h5>Personlig udvikling</h5>
                <p>
                    Vi fokuserer på din personlige udvikling ved at tage udgangspunkt i kompetencer som kommunikation,
                    samarbejde og strategisk tænkning. Vi hjælper dig med at få et større udbytte ud af den tid du bruger foran skærmen.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-chalkboard-teacher"></i>
                <h5>
                    Opkvalificeret undervinsing
                </h5>
                <p>
                    Vores videoer er produceret af specalister fra virkeligheden og nogle af de aller bedste spillere. 
                    Vi strukturer vores kurser efter moderne læringsteorier for at maksimere læringsudbyttet.
                </p>
            </div>

        </div>
    </div>
</section>

<!-- Learn more section -->
<section id="concept">
    <div class="row">
        <div class="col-md-6">
            <div class="hero_left">
                <h1>E-sport undervisning til nye højder</h1>
                <h2>
                    Der eksisterer et overvælende udbud af videoer på internettet, der forsøger at forklare hvad du skal gøre for at blive bedre.
                    Vi har sat os for at gøre rejsen til at blive en god spiller mere overskuelig, og vil samtidig sikre en konsekvent høj kvalitet
                    i vores kurser, så du ikke skal bruge lang tid på at lede efter guldkornene.
                    <br /> <br />
                    Vi sætter som den første digitale platform fokus på din personlige udvikling, mens du spiller. E-sport kan nemlig være med til at træne en række
                    kompetencer, du har stor gavn af at mestre i virkeligheden. Vi vil rette op på den misforståelse, der findes hos mange, at gaming er spild af tid.

                    
                </h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="hero_right">
                <div class="concept_right">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Feedback section -->
<section id="feedback">
    <img class="first-gradient" src="/images/bg-gradient.png" alt="Left gradient background">

    <img class="section-gradient" src="/images/bg-gradient.png" alt="Right gradient background">

    <div class="row">
        <div class="col-md-12">
            <div class="feedback-container">
                <h2>Er der noget, du synes vi skal vide?</h2>
                <form asp-controller="Home" asp-action="Feedback" method="post" id="form-feedback" asp-route-returnUrl="Index">
                    <input type="text" class="input-feedback" name="name" placeholder="navn *" required/>
                    <input type="email" class="input-feedback form-control" name="fb_email" placeholder="email *" required/>

                    <textarea class="feedback_textarea" name="comment" placeholder="besked *" required></textarea>
                    <input type="submit" class="btn-blue btn-feedback" value="Send" />
                </form>
            </div>
        </div>

    </div>
</section>

