@{
    ViewData["Title"] = "GamerPilot";
}

<section id="hero">
    <div class="row">

        <!-- Selling points -->
        <div class="col-md-6">
            <div class="test"></div>
        </div>

        <!-- Promotion video -->
        <div class="col-md-6">
            <div class="test"></div>
        </div>

    </div>







</section>