<section id="intro">
    <div id="intro-bg">
        <div class="row">
            <h1>We help your children evolve while they play</h1>
            <div class="col-md-7">

                <div class="block-blue">
                    <h3>
                        E-sports as a learning medium
                    </h3>
                    <p class="block-txt">
                        In a digital world where children spend increasingly more time in front of the screen it is natural to question if they
                        are wasting their time and better off doing other activites. E-sport is the future community for children who gather around the game,
                        the competition, social intercourse and the healthy competetion. We believe e-sport is the key to activate and acknowledge a large group
                        of children who are often overlooked. Research in computergaming among youngsters has established a clear connection between reflective use of games
                        and an increased understanding of life skills such as problem solving, collaboration, linguistic skills and much more.
                    </p>
                    <p class="block-txt">

                        Through pedagogical correct and impactful e-sports coaching by skilled and certified e-instructors we establish a strong foundation for
                        mental- and social health. All of our courses are based on a related life skill that we help the players evolve during their games hence
                        providing them with a solid skillset that can be used in real life as well.



                    </p>

                    <a class="btn-blue" style="float:right" onclick="startTour()">Take our tour</a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="quick-box" id="shep-step1">
                    <div class="qb-head">Our learning manifest</div>
                    <div class="qb-content">
                        <div class="qb-element">
                            <i class="fas qb-icon fa-angle-double-right"></i>

                            Critical thinking    <span style="font-style:italic">over</span> repetition
                        </div>
                        <div class="qb-element">
                            <i class="fas qb-icon fa-angle-double-right"></i>
                            Adaptability
                            <span style="font-style:italic">over</span>
                            habits
                        </div>
                        <div class="qb-element">
                            <i class="fas qb-icon fa-angle-double-right"></i>
                            Responsibility    <span style="font-style:italic">over</span> immaturity
                        </div>
                        <div class="qb-element">
                            <i class="fas qb-icon fa-angle-double-right"></i>
                            Collaboration    <span style="font-style:italic">over</span> conflict
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="life-skills">
    <div class="row" id="shep-step2">
        <div class="col-md-4">
            <i class="fas fa-globe-americas"></i>
        </div>

        <div class="col-md-8">
            <div class="block-main">
                <h3>21st Century Skills</h3>
                <p class="block-txt">
                    21st century skills comprise skills, abilities, and learning dispositions that have been identified as being required for success in 21st century society and workplaces by educators,
                    business leaders, academics, and governmental agencies. This is part of a growing international movement focusing on the skills
                    required for students to master in preparation for success in a rapidly changing, digital society. Many of these skills are also
                    associated with deeper learning, which is based on mastering skills such as analytic reasoning, complex problem solving, and teamwork.
                    These skills differ from traditional academic skills in that they are not primarily content knowledge-based
                </p>

                <div class="row">
                    <div class="col-md-4"><h4>Critical thinking</h4></div>
                    <div class="col-md-4"><h4>Problem solving</h4></div>
                    <div class="col-md-4"><h4>Communication</h4></div>
                    <div class="col-md-4"><h4>Collaboration</h4></div>
                    <div class="col-md-4"><h4>Creativity</h4></div>
                    <div class="col-md-4"><h4>Innovation</h4></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="video-structure" class="bg-waves">
        <div class="row" id="shep-step3">



            <div class="col-md-8">

                <div class="block-highlight">
                    <h3>The Learning Wheel</h3>
                    <p class="block-txt">
                        The core of the learning model is the project itself. All projects,
                        from baking a cake to building a house, have stages or phases that
                        occur in a sequence, though backtracking and jumping around
                        among the phases often occurs. The Project Learning Bicycle
                        model has four project phases:
                    </p>
                    <div class="row" id="learning-wheel">

                        <div class="col-md-3">
                            <div class="wheel-box">      <h4>Define</h4></div>
                        </div>
                        <div class="col-md-3">
                            <div class="wheel-box">      <h4>Plan</h4></div>
                        </div>
                        <div class="col-md-3">
                            <div class="wheel-box">      <h4>Do</h4></div>
                        </div>
                        <div class="col-md-3">
                            <div class="wheel-box">      <h4>Review</h4></div>
                        </div>

                    </div>

                    <p class="block-txt">
                        To ensure high quality across all of our courses they are structured of these four phases. The structure will make the basis for a solid
                        learning experience that maximizes learning output for all of our enrolled students. Lessons learned from going through the entire project cycle
                        can often be applied to the next project, or sometimes to a new iteration of the same problem domain, with the second time refining the
                        project definition, improving the plan, refining project implementation, and resulting in deeper reflections and reviews.
                        This way, learning grows and deepens.
                    </p>

                </div>
            </div>

            <div class="col-md-4">
                <i class="fas fa-sort-amount-down"></i>


            </div>

        </div>

        <div class="row">


            <div class="col-md-12" id="shep-step4">

                <div class="page-header">
                    <h3>Course structure</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge first"><i class="fas fa-search"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Define</h3>
                                <p><small class="text-muted"><i class="fas fa-user-tie"></i> Expert in a real life domain</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    The area must first be defined, with the question, problem,
                                    issue, or challenge that drives the learning in the project stated
                                    clearly and concisely. In a gaming scenario, the essential question
                                    could be “How can we find new ways to overrun our enemies?
                                    <br /> <br />
                                </p>
                                <p>
                                    Our expert who holds substantial experience in a real life domain will emphasize why practicing
                                    this skill is important and will function as a tool to connect a life skill and specific in-game related matters.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge second"><i class="fas fa-file-signature"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Plan</h3>
                                <p><small class="text-muted"><i class="fas fa-check"></i> Highly skilled player</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Our highly skilled player will lay out different techniques and tools in order to practice the area
                                    effeciently and with visible results. Furthermore the player will give the student insight in which
                                    procedures he followed on his path to becoming one of the best.
                                    <br /> <br />
                                </p>
                                <p>
                                    For a teacher to be an effective learning coach during a course
                                    (and not just a lecturer), learning activities must be designed so
                                    that the students own much of the learning and teaching. Students’
                                    planning their work, doing research, asking questions, designing procedures, taking
                                    on leadership and group facilitation roles, analyzing their own
                                    results, getting feedback from others, and so on are all important
                                    parts of a well designed course that builds 21st century skills and
                                    deepens understanding of the learning content.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge third"><i class="fas fa-cogs"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Do</h3>
                                <p><small class="text-muted"><i class="fas fa-check"></i> Highly skilled player</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    After planning comes doing: the real work of the course must be accomplished, the learning activies performed, and the results
                                    recorded. Learning is a process and the students are encouraged to spend up to 75% of their dedicated time in this phase.
                                    <br /> <br />
                                </p>

                                <p>
                                    In this phase our coach will dive into different scenarios and break it down into easily understandable points that will help the student
                                    translate it into his own play.
                                </p>
                            </div>


                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-badge fourth"><i class="fas fa-map"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Review</h3>
                                <p><small class="text-muted"><i class="fas fa-check"></i> Highly skilled player</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Finally, the course results and lessons learned are presented and reviewed. This phase is particularly important
                                    to establish a common thread throughout the course and ensure the student leaves well equipped. <br /> <br />
                                </p>

                                <p>
                                    Our coach presents the answers to the learning outcomes of the course in a manageable way. He also underlines points
                                    given about the praticed life-skill and references to how you can carry out the skill in your daily life.

                                    It's common in our courses that the coach ends this phase with a small inspirational story intended to
                                    boost the students motivation and will to learn.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

</section>

<section class="subscribe-now">
    <div class="row subscribe-bg">
        <div class="col-md-12">
            <div style="margin-top: 150px;">
                <h3>
                    Kom på vores venteliste for at få tidlig adgang
                </h3>
                <form asp-controller="Home" asp-action="Subscribe" method="post" class="form-inline" asp-route-returnUrl="Parents">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control parent-sub" placeholder="email ">
                    </div>
                    <button type="submit" class="btn-blue btn-parentsub">Indsend</button>
                </form>
            </div>

        </div>
    </div>
</section>


<section id="experts">
    <div class="row" id="shep-step5">
        <div>
            <h1>Some of our experts</h1>
            <i class="fas fa-angle-double-down"></i>

        </div>


        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="feature">
                <i class="fas fa-exp fa-street-view"></i>
                <h5>Psychologists</h5>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="feature">
                <i class="fas fa-exp fa-user-tie"></i>
                <h5>Strategists</h5>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="feature">
                <i class="fas fa-exp fa-user-secret"></i>
                <h5>
                    Talent scouts
                </h5>
            </div>

        </div>

        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="feature">
                <i class="fas fa-exp fa-user-plus"></i>
                <h5>
                    Communicators
                </h5>
            </div>

        </div>
    </div>
</section>

<section class="container-main" id="motivation">
    <div class="row">

        <div>
            <h1>Learning concepts</h1>
            <h2>We believe in a handful of learning concepts flourishing in a complex world</h2>
            <i class="fas fa-angle-double-down" style="color: white;"></i>
        </div>

        <div class="col-md-8" id="shep-step6">
            <div class="block-blue">
                <h3>Internal Motivation</h3>
                <p class="block-txt">
                    A rich literature of emotional intelligence studies and reports
                    are clearly showing the advantages of being internally motivated
                    to learn, as opposed to learning just for external motivations
                    such as parental approval or performance on tests. When people have an emotional connection to what is being learned—

                    a personal experience or question—learning can be sustained
                    longer, understanding can become deeper, and what is learned

                    can be retained longer. Studies of well-designed learning proj-
                    ects geared to student interests and passions also show that internal motivation can contribute a great deal to active engagement,

                    deeper understanding, and a desire to learn more
                </p>

            </div>
        </div>

        <div class="col-md-4">
            <i class="fas fa-child"></i>
        </div>
    </div>
</section>

<section class="container-grey">
    <div class="row">

        <div class="col-md-4">
            <i class="fas fa-diagnoses"></i>
        </div>

        <div class="col-md-8" id="shep-step7">
            <div class="block-highlight">
                <h3>Authentic Learning</h3>
                <p class="block-txt">
                    Context, or the conditions in which learning activities occur (the
                    people, objects, symbols, and environment and how they all work
                    together to support learning), are much more influential than
                    previously thought. Transferring what is learned from one context to another (such
                    as from the computerplay to the real world) is often not successful.
                    Doing supermarket math problems on a test is different from
                    mentally calculating price differences of three kinds and sizes of
                    laundry soap in an actual store. The setting in which a new skill or
                    piece of knowledge is learned strongly influences whether or not
                    that skill or knowledge can be applied elsewhere.

                    Simulating the real-world environment with media or by actually being in a place where that particular skill or knowledge is used

                    in the world—supplying a more authentic context for learning—
                    increases the chance that a lesson will be remembered and can be
                    used in other similar situations.
                    This finding suggests students need more real-world problem
                    solving, internships or apprenticeships in real work settings, and
                    other more authentic learning experiences to make learning last
                    and be useful.
                </p>

            </div>
        </div>


    </div>
</section>

<section class="container-white">
    <div class="row">



        <div class="col-md-8" id="shep-step8">
            <div class="block-main">
                <h3>Mental Model Building</h3>
                <p class="block-txt">
                    A great deal has been learned about how people build mental
                    models, incorporate new experiences into these models, and
                    change these models over time. We all start with less than
                    accurate mental models of the world based on our experience
                    (the Earth sure looks flat to me) and adjust them as we encounter
                    new experiences that don’t quite fit (wow, the Earth looks
                    like a giant floating blue-and-white marble in those photos from
                    space). The building and changing of our mental models, and
                    how we link our mental models together in our heads—our
                    shifting systems view of the world—is much of what learning
                    is all about.
                </p>
                <p class="block-txt">

                    Recognizing what you already know from past experience
                    and what you currently believe from the latest versions of your
                    mental models—are important first steps in the learning process.
                    Unfortunately, in our haste to teach new material, the important
                    step of helping learners reflect on their current mental models is
                    often overlooked.
                </p>

                <p class="block-txt">

                    Building and manipulating external models, whether they’re
                    physical ones (wood or LEGO blocks, robotic parts, and the like)

                    or virtual ones (drawings on paper or screens, computer simulations like The Sims or Spore,
                    virtual worlds like Second Life, videogames, and so on) help us visualize and further develop our internal mental models.
                </p>
                <p class="block-txt">


                    Both visceral (hands-on) and virtual (on-screen) modeling
                    activities provide ways to make thinking visible, refl ecting the
                    internal model making and learning going on inside our heads.
                </p>

            </div>
        </div>

        <div class="col-md-4">
            <i class="fas fa-boxes"></i>
        </div>


    </div>
</section>

<section class="container-main" id="visibility">
    <div class="row">

        <div>
            <h1>Undervisningsteori</h1>
            <h2>Vores undervisning bygger på solid læringsteorier </h2>
            <i class="fas fa-angle-double-down" style="color: white;"></i>
        </div>

        <div class="col-md-8" id="shep-step9">
            <div class="block-blue">
                <h3>Synlig Læring</h3>
                <p class="block-txt">
                    Uanset hvor I verden du undervises, er et koncept vigtigere end nogensinde før i undervisning. Synlig læring
                    har ét formål; at gøre undervisningen transparent for alle. Idéen bag synlig læring er, at dem som
                    undervise, hele tiden har et overblik over hvor de er, hvor de er på vej hen, og hvad målet for
                    undervisningen er.
                </p>
                <p class="block-txt">

                    Hos GamerPilot gør vi det samme. Synlig læring er integreret i alle vores videokurser, for at sikre det højest
                    mulige udbytte af undervisningen. Vores undervisere er bekendte med moderne læringsteori og sørger for,
                    at der undervises akkurat efter samme principper, som på en moderne undervisningsinstitution.
                </p>

            </div>
        </div>


        <div class="col-md-4">
            <i class="fas fa-eye"></i>
        </div>


    </div>
</section>

<section class="container-grey">
    <div class="row">
        <div class="col-md-4">
            <i class="fas fa-assistive-listening-systems"></i>
        </div>

        <div class="col-md-8" id="shep-step10">
            <div class="block-highlight">
                <h3>Zonen for nærmeste udvikling</h3>
                <p class="block-txt">
                    Der er altid et næste skridt. Uanset hvilket niveau du er på, er det altid vigtigt at arbejde med det rigtige
                    område, for at opleve størst mulig progression i din udvikling. Zonen for nærmeste udvikling beskriver
                    netop det arbejdsområde du skal sætte ind på, for hverken at blive udfordret for meget eller for lidt.
                </p>
                <p class="block-txt">

                    Hos Gamerpilot algoritmesorteres alle vores videoer, så du bliver præsenteret for det næste naturlige skridt
                    i din udvikling. Ved at udfordrer dig, sørger vi for at du oplever en egentlig udvikling, og at du altid er klar
                    over, hvad dit næste skridt mod at blive bedre er.
                </p>

            </div>
        </div>
    </div>
</section>

<section class="subscribe-now">
    <div class="row subscribe-bg">
        <div class="col-md-12" id="shep-step11">
            <div style="margin-top: 150px;">
                <h3>
                    Kom på vores venteliste for at få tidlig adgang
                </h3>
                <form asp-controller="Home" asp-action="Subscribe" method="post" class="form-inline" asp-route-returnUrl="Parents">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control parent-sub" placeholder="email ">
                    </div>
                    <button type="submit" class="btn-blue btn-parentsub">Indsend</button>
                </form>
            </div>

        </div>
    </div>
</section>



@section Scripts {
    <script src="~/js/tour.js" asp-append-version="true"></script>

}
