
@{
    ViewData["Title"] = "Parent";
}

<section id="life-skills">
    <div class="row">
        <div class="col-md-8">
            
            <div class="block-blue">
                <h3>21st Century Skills</h3>
                <p class="block-txt">
                    21st century skills comprise skills, abilities, and learning dispositions that have been identified as being required for success in 21st century society and workplaces by educators,
                    business leaders, academics, and governmental agencies. This is part of a growing international movement focusing on the skills
                    required for students to master in preparation for success in a rapidly changing, digital society. Many of these skills are also
                    associated with deeper learning, which is based on mastering skills such as analytic reasoning, complex problem solving, and teamwork. 
                    These skills differ from traditional academic skills in that they are not primarily content knowledge-based
                </p>
                
                <div class="row">
                    <div class="col-md-4"><h4>Critical thinking</h4></div>
                    <div class="col-md-4"><h4>Problem solving</h4></div>
                    <div class="col-md-4"><h4>Communication</h4></div>
                    <div class="col-md-4"><h4>Collaboration</h4></div>
                    <div class="col-md-4"><h4>Creativity</h4></div>
                    <div class="col-md-4"><h4>Innovation</h4></div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <i class="fas fa-globe-americas"></i>
        </div>
    </div>
</section>


<section id="video-structure">
    <div class="row">

        <div class="col-md-4">
            <i class="fas fa-sort-amount-down"></i>

  
        </div>


            <div class="col-md-8">

                <div class="block-highlight">
                    <h3>The learning wheel</h3>
                    <p class="block-txt">
                        The core of the learning model is the project itself. All projects,
                        from baking a cake to building a house, have stages or phases that
                        occur in a sequence, though backtracking and jumping around
                        among the phases often occurs. The Project Learning Bicycle
                        model has four project phases:
                    </p>
                    <div class="row" id="learning-wheel">

                        <div class="col-md-3"><h4>Define</h4></div>
                        <div class="col-md-3"><h4>Plan</h4></div>
                        <div class="col-md-3"><h4>Do</h4></div>
                        <div class="col-md-3"><h4>Review</h4></div>

                    </div>

                    <p class="block-txt">                      
                        To ensure high quality across all of our courses they are structured of these four phases. The structure will make the basis for a solid
                        learning experience that maximizes learning output for all of our enrolled students. Lessons learned from going through the entire project cycle
                        can often be applied to the next project, or sometimes to a new iteration of the same problem domain, with the second time refining the
                        project definition, improving the plan, refining project implementation, and resulting in deeper reflections and reviews.
                        This way, learning grows and deepens.
                    </p>

                </div>
            </div>
        </div>

    <div class="row">


        <div class="col-md-12">

            <div class="page-header">
                <h3>Course structure</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge first"><i class="fas fa-search"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3>Define</h3>
                            <p><small class="text-muted"><i class="fas fa-user-tie"></i> Expert in a real life domain</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                The area must first be defined, with the question, problem,
                                issue, or challenge that drives the learning in the project stated
                                clearly and concisely. In a gaming scenario, the essential question
                                could be “How can we find new ways to overrun our enemies?
                                <br /> <br />
                            </p>
                            <p>
                                Our expert who holds substantial experience in a real life domain will emphasize why practicing
                                this skill is important and will function as a tool to connect a life skill and specific in-game related matters.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge second"><i class="fas fa-file-signature"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3>Plan</h3>
                            <p><small class="text-muted"><i class="fas fa-check"></i> Highly skilled player</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Our highly skilled player will lay out different techniques and tools in order to practice the area
                                effeciently and with visible results. Furthermore the player will give the student insight in which
                                procedures he followed on his path to becoming one of the best.
                                <br /> <br />
                            </p>
                            <p>
                                For a teacher to be an effective learning coach during a course
                                (and not just a lecturer), learning activities must be designed so
                                that the students own much of the learning and teaching. Students’
                                planning their work, doing research, asking questions, designing procedures, taking
                                on leadership and group facilitation roles, analyzing their own
                                results, getting feedback from others, and so on are all important
                                parts of a well designed course that builds 21st century skills and
                                deepens understanding of the learning content.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge third"><i class="fas fa-cogs"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3>Do</h3>
                            <p><small class="text-muted"><i class="fas fa-check"></i> Highly skilled player</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                After planning comes doing: the real work of the course must be accomplished, the learning activies performed, and the results
                                recorded. Learning is a process and the students are encouraged to spend up to 75% of their dedicated time in this phase.
                                <br /> <br />
                            </p>

                            <p>
                                In this phase our coach will dive into different scenarios and break it down into easily understandable points that will help the student
                                translate it into his own play. 
                            </p>
                        </div>

                     
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="timeline-badge fourth"><i class="fas fa-map"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3>Review</h3>
                            <p><small class="text-muted"><i class="fas fa-check"></i> Highly skilled player</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Finally, the course results and lessons learned are presented and reviewed. This phase is particularly important
                                to establish a common thread throughout the course and ensure the student leaves well equipped. <br /> <br />
                            </p>

                            <p>Our coach presents the answers to the learning outcomes of the course in a manageable way. He also underlines points
                            given about the praticed life-skill and references to how you can carry out the skill in your daily life. 
                            
                            It's common in our courses that the coach ends this phase with a small inspirational story intended to 
                            boost the students motivation and will to learn.</p>
                        </div>


                        @*Finally, the project results and lessons learned are presented
                        and reviewed. The teacher, other students, and often other

                        members of the learning community see the results in a pre-
                        sentation, exhibition, or learning fair and offer evaluations and

                        feedback.*@


                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>