$main: #262935;
$blue: #4a90e2;
$highlight: #1f69c1;
$darkblue: darken($blue, 40%);
$grey: #474b57;
$white: #fff;

$mobile: 767px;
$tablet: 992px;


@font-face {
    font-family: "Work Sans Med";
    src: url("/fonts/WorkSans-Medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans Reg";
    src: url("/fonts/WorkSans-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Abel";
    src: url("/fonts/Abel.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans Light";
    src: url("/fonts/WorkSans-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container-fluid {
    max-width: 1980px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

body {
    font-family: Work Sans Med, Trebuchet MS, Arial, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}


/* navbar */

.changeBg {
    background-color: $main;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.navbar-form {
    margin-top: 0px !important;
    padding-top: 1rem !important;
    padding-right: 150px;
}

.nav-links {
    font-family: 'Work Sans Reg';
    cursor: pointer;
}

.navbar-brand {
    padding-top: 1rem !important;
    padding-bottom: 0;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
    background-color: $white;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.nav li {
    padding-right: 20px;
    margin-top: 2.75px;
}

.nav-links {
    font-family: 'Work Sans Reg';
    cursor: pointer;
}

.nav li:last-child {
    padding-right: 35px;
}

.nav > li > a:hover {
    background-color: transparent;
}

a {
    color: $white;
    text-decoration: none !important;
}

a:hover {
    color: $white !important;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 500px !important;
}



//center content when collapsed
.navbar .navbar-collapse {
    text-align: center;
}

@media screen and (max-width: $tablet) {
    .navbar-form {
        padding-right: 15px;
        
    }

    .btn-sub {
        padding: 1.3rem !important;
    }

   
}

@media screen and (max-width: $mobile) {
    .input-sub {
        float: left;
        width: 60% !important;
    }

    .btn-sub {
        width: 40% !important;
        margin-top: -6px;
    }
}




    /* Buttons */

    @mixin btn-gp {
        display: inline-block !important;
        padding: 1.3rem 4rem 1.3rem 4rem; //top-right-bot-left
        font-family: inherit;
        font-weight: 500;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        border-radius: 2.1875rem;
        cursor: pointer;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn-blue {
        @include btn-gp;
        background-color: $blue;
        border: .0625rem solid $blue;
    }

    .btn-blue-nofill {
        @include btn-gp;
        background-color: #4a90e230;
        margin-right: 35px;
    }

    .btn-blue:hover {
        background-color: $highlight !important;
        border: .0625rem solid $highlight !important;
    }

.input-sub {
    border: none;
    padding: 0 25px;
    color: #414351;
    font-size: 15px;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    height: 48px;
    display: inline-block;
}

.btn-sub {
    margin-left: -5px;
    display: inline-block;
    border-radius: 0;
}

/* particle js */

canvas {
    display: inline-block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 1100px;
    background: url("/images/bg-hero-shapes.svg");
}

/**********/
#hero {
    background-color: $main;
    min-height: 1000px;
    position: relative;
    width: 100%;
}

@mixin hero {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    max-width: 600px;
    width: 100%;
    height: 100%;
}

.hero_left {
    @include hero;
}

.hero_right {
    @include hero;
}




    @mixin title {
        font-family: 'Work Sans Light', helvetica, arial, sans-serif;
        color: $white;
        margin-bottom: 15px;
    }

    h1 {
        @include title;
        font-size: 48px;
        line-height: 57px;
    }

    h2 {
        @include title;
        font-size: 22px;
        font-weight: 300;
        line-height: 33px;
    }

    h3 {
        @include title;
        font-size: 28px;
        font-weight: 500;
        line-height: 33px;
    }

h4 {
    @include title;
    color: $main;
    font-size: 22px;
    font-weight: bold;
    line-height: 33px;
}

h5 {
    @include title;
    color: $main;
    font-family: inherit;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
}


    hr {
        width: 200px;
        margin-left: 0;
    }



/* Promotion video */

/*** subsribe ***/
#subscribe {
    background-color: $main;
}


/**********/

.vid {
    background-color: $grey;
    text-align: center;
    margin-top: 200px;
    height: 400px;
    width: 500px;
}

.fa-play-circle {
    color: $white;
    font-size: 52px !important;
    cursor: pointer;
    padding-right: 10px;
}

.playbox {
    background: url(https://picsum.photos/400/500);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-align: center;
    padding-top: 35%;
    height: 400px;
    width: 500px;
}

.playbox h2 {
    font-weight: bold;
}

    .popup__overlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(38, 41, 53, 0.95);
        text-align: center;
        z-index: 100;
    }

    .popup__overlay:after {
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: "";
    }

    .popup {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1200px;
        max-height: 720px;
        color: white;
        vertical-align: middle;
    }

    .popup-form__row {
        margin: 1em 0;
    }

    .popup__close {
        display: block;
        position: absolute;
        top: 5px;
        right: 8px;
        cursor: pointer;
        font-size: 16px;
        color: $white;
        text-decoration: none;
    }


    iframe {
        width: 100%;
        height: 100%;
    }

/***************/

/*** Features ***/

#features {
    text-align: center;
}

@mixin fa-point {
    margin-top: 30px;
    font-size: 38px;
    display: block;
}

.fa-code-branch {
    @include fa-point;
    color: $blue;
}

.fa-chalkboard-teacher {
    @include fa-point;
    color: $highlight;
}

.fa-user-cog {
    @include fa-point;
    color: $darkblue;
}

.feature {
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width: $tablet) {
    .feature {
        padding: 0;
        margin-bottom: 80px;
    }
}

/***************/


/*** Concept ***/
#concept {
    /*background-image: linear-gradient(135deg,$main,lighten($main, 20%));*/
    background-image: linear-gradient(-136deg,$highlight,#002e34);
}

#concept::after {
    content: "";
    display: inline-block;
    width: 34px;
    height: 130px;
    top: auto;
    bottom: -65px;
    margin-left: 50%;
    margin-bottom: -65px;
    background: url("/images/connector.svg") 0 0 no-repeat;
}


.btn_concept {
    float: right;
    text-decoration: none !important;
}


.concept_right {
    z-index: 999;
    margin: auto;
    margin-top: 200px;
    height: 500px;
    max-height: 500px;
    max-width: 600px;
    width: 600px;
    background-image: url("/images/gp-brand.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/***************/

/*** Feedback ***/

#feedback {
    height: 840px;
    background: linear-gradient(#2f303a,#262935);
}

.feedback-container {
    @include hero;
}

.feedback_textarea {
    width: 100%;
    border: none;
    padding: 25px 25px;
    color: #414351;
    font-size: 15px;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: sans-serif;
    font-size: 100%;
    height: 300px;
    display: inline-block;
    float: left;
    z-index: 99;
    resize: none;
}

.input-feedback {
    border: none;
    padding: 0 25px;
    color: #414351;
    font-size: 15px;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    height: 48px;
    display: inline-block;
    margin-bottom: 10px;
    width: 49%;
    float: left;
}

@media screen and (max-width: $tablet) {
    #form-feedback > input:first-of-type {
        margin-right: 0;
    }

    .input-feedback {
        width: 100%;
    }
}

#form-feedback > input:first-of-type {
    margin-right: 2%;
}


.btn-feedback {
    display: inline-block;
    float: right;
    margin-top: 10px;
    border-radius: 0;
    z-index: 99;
}

.first-gradient {
    width: 100%;
    height: 300px;
    position: absolute;
    transform: rotate(-180deg);
}

.section-gradient {
    width: 100%;
    height: 300px;
    position: absolute;
    margin-top: 530px;
}

/***************/

/*** footer ***/



@media screen and (max-width: $mobile) {
    .btn-footer {
        margin-top: 20px;
    }
}

footer {
    background-color: $main;
}

.company-info p {
    text-align: center;
    color: white;
    margin-top: 30px;
}

/**************/


/* parents */

@mixin parent-section {
    text-align: center;
    padding: 50px;
}



@mixin block {
    padding: 20px;
    padding-top: 0;
    border-left: 5px solid;
    border-radius: 3px;
    text-align: left;
}

#life-skills {
    background-color: $white;
    @include parent-section;
}

.container-grey {
    background-color: $grey;
    @include parent-section;
}

.container-white {
    background-color: $white;
    @include parent-section;
}


.container-main {
    background-color: $main;
    @include parent-section;
}

#intro {
    background-color: $main;
    @include parent-section;
}

#intro-bg {
    background: url("/images/bg-dots.svg") repeat;
    height: 100%;
    width: 100%;
}

#intro h1 {
    padding: 100px;
}


@media screen and (max-width: $mobile) {
    #intro h1 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@mixin box {
    margin: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.08);
    border-radius: 5px;
    text-align: center;
    background-color: #f8f8f8;
}

.quick-box {
    @include box;
    width: 300px;
    margin-top: 100px;
}

.qb-head {
    background-color: $grey;
    background-image: none;
    color: $white;
    font-size: 20px;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.qb-content {
    padding: 10px;
    padding-bottom: 25px;
}

.qb-element {
    margin-top: 15px;
    text-align: left;
    margin-left: 15px;
}

.qb-icon {
    color: $blue;
    font-size: 20px;
}

.wheel-box {
      @include box;
}



#learning-wheel {
    text-align: center;
}

#learning-wheel > div > h4 {
    color: $highlight;
}

.fa-globe-americas {
    margin-top: 130px;
    font-size: 158px;
    color: $main;
}

.fa-sort-amount-down {
    margin-top: 130px;
    color: $highlight;
    font-size: 158px;
}

.fa-child {
        margin-top: 100px;
        font-size: 158px;
        color: $blue;
}

.fa-eye {
    margin-top: 100px;
    font-size: 158px;
    color: $blue;
}

.fa-assistive-listening-systems {
    margin-top: 100px;
    font-size: 158px;
    color: $highlight;
}

.fa-boxes {
    margin-top: 200px;
    font-size: 158px;
    color: $main;
}

.fa-diagnoses {
    margin-top: 130px;
    font-size: 158px;
    color: $highlight;
}

#video-structure {
    background-color: $grey;
    @include parent-section;
   
}

.bg-waves {
    background: url("/images/bg-waves.svg");
    width: 100%;
    height: 100%;
    z-index: 9999;
}


.block-blue {
    @include block;
    margin-top: 50px;
    border-left-color: $blue;
}

.block-main {
    @include block;
    margin-top: 50px;
    border-left-color: $main;
}

.block-main h3, .block-main p {
    color: $main;
}

.block-highlight {
    @include block;
    margin-top: 50px;
    border-left-color: $highlight;
}

.block-txt {
    color: $white;
    line-height: 30px;
}




/**************/

/** experts */

#experts {
    text-align: center;
    padding-bottom: 70px;
}

#experts h1 {
    color: $main;
}

.fa-angle-double-down {
    color: $main;
    font-size: 28px;
    padding-bottom: 60px;
}

.fa-exp {
    font-size: 38px;
}

/************/
/* timeline course structure */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    text-align: left;
}

.text-muted {
    color: $blue;
}

.page-header {
    margin-top: 100px;
}

.timeline-heading h3 {
    margin-top: 0;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.first {
    background-color: $blue !important;
}

.timeline-badge.second {
    background-color: $darkblue !important;
}

.timeline-badge.third {
    background-color: $highlight !important;
}

.timeline-badge.fourth {
    background-color: $main !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    color: $white;
}

.timeline-body > p + p {
    margin-top: 5px;

}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

/**************/


/* return to top*/

.fa-arrow-alt-circle-up {
    font-size: 38px !important;
    color: $blue;
}

#return-to-top {
    z-index: 99999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    display: none;
}

/* subscribe now */

.subscribe-now {
    background-image: linear-gradient(135deg,$main,lighten($main, 20%));
    text-align: center;
    height: 400px;
    width: 100%;

}

.subscribe-bg {
    background-image: url("/images/bg-subscribe.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    width: 100%;
}

.parent-sub {
    border: none;
    padding: 0 25px;
    color: #414351;
    font-size: 15px;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    height: 48px;
    display: inline;
    max-width: 600px;
}

.btn-parentsub {
    margin-left: -5px;
    display: inline-block;
    border-radius: 0;
}


/* confirmation messages */

/*background-image: linear-gradient(-136deg,$highlight,#002e34)*/
;
.notifications {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999999;
    text-align: center;
    color: white;
    font-family: 'Work Sans Med', helvetica, arial, sans-serif;
    visibility: hidden;
}

.notification-error {
    padding: 25px;
    background-image: linear-gradient(-136deg,#e74c3c,#002e34)
}

.notification-success {
    padding: 25px;
    background-image: linear-gradient(-136deg,$highlight,#002e34)
}